<%= form_for(@contestant) do |f| %>
  <% if @contestant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contestant.errors.count, "error") %> prohibited this contestant from being saved:</h2>

      <ul>
      <% @contestant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :bio %><br>
    <%= f.text_area :bio %>
  </div>
  <div class="field">
    <%= f.label :nickname %><br>
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= image_tag (@contestant.image) if @contestant.image? %><br><br>
    <%= f.file_field :image %>
  </div>
    <div class="field">
      <%= f.label :image_b %><br>
      <%= image_tag (@contestant.image_b) if @contestant.image_b? %><br><br>
      <%= f.file_field :image_b %>
    </div>
    <div class="field">
      <%= f.label :image_c %><br>
      <%= image_tag (@contestant.image_c) if @contestant.image_c? %><br><br>
      <%= f.file_field :image_c %>
    </div>
    <div class="field">
      <%= f.label :image_d %><br>
      <%= image_tag (@contestant.image_d) if @contestant.image_d? %><br><br>
      <%= f.file_field :image_d %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
