<div class="modal fade" id="myModal-<%= contestant.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel"><%= contestant.name %></h3>
      </div>
      <div class="modal-body">
          <div>
            <% if notice %>
              <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="alert alert-danger"><%= alert %></p>
            <% end %>
            
            <span class="profile-title">Bio: </span>
            <p>
              <%= contestant.bio %>
            </p>

            <span class="profile-title">Nickname:</span>
            <p>
              <%= contestant.nickname %>
            </p>

            <span class="profile-title">Pictures:</span>
            <p>
              <%= image_tag contestant.image%><br><br>
            </p>

            <p>
              <i class="fa fa-heart"></i>
              <%= "#{contestant.votes.count} Votes" %> 
            </p>
          </div>
      </div>
      <div class="modal-footer">
        <% if !current_user.present? %>
            <%= button_to "login to vote", user_omniauth_authorize_path(:facebook), class: "btn btn-primary btn-connect pull-left"  %>
        <% else %>
            <% unless contestant.users.include? current_user %>
                <%= form_for Vote.new do |f| %>
                    <%= hidden_field(:vote, :contestant_id, value: contestant.id )%>
                    <%= hidden_field(:vote, :user_id, value: current_user.id)%>
                    <div class="row actions text-center">
                      <%= f.submit "Vote", class: "btn btn-primary pull-left" %>
                    </div>
                    <br>
                <% end %>
            <% end %>
        <% end %>
        <% if current_user.try(:admin?) %>
            <%= link_to 'Edit', edit_contestant_path(contestant) %> |
        <% end %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
