<section id="contestants-page">
  <div class="container-fluid">
    <h3 class="page-header">Contestants</h3>
    <ul class="contestant-list">
      <% @contestants.each do |contestant| %>
          <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="Contestant">
            <div class="row">
              <div class="modal-header">
                <%= link_to 'Close', (contestant),{ class: "btn btn-primary pull-right", 'data-dismiss' => '#modal-window'} %>
                <h3 class="modal-heading"><%= contestant.name %></h3>
              </div>
              <div class="col-md-6">
                <%= image_tag contestant.image.url(:medium) %>
              </div>
              <div class="col-md-6">
                <p><%= contestant.nickname  %></p>
                <p><%= contestant.bio  %></p>
                <h1><%= contestant.votes.count  %>&hearts;</h1>
                <%= link_to 'Vote For This Contestant', (contestant) %><br>
              </div>
            </div>
          </div>
          <li>
            <%= link_to (contestant), { 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} do %>
                <div class="contestant">
                  <%= image_tag contestant.image.url(:thumb) %>
                  <div class="contestant-list-text">
                    <p class="name"><%= contestant.name  %></p>
                    <p class="">(<%= contestant.nickname %>)</p>
                  </div>
                </div>
                <% if current_user.try(:admin?) %>
                    <%= link_to 'Edit', edit_contestant_path(contestant), class: "btn btn-default" %>
                    <%= link_to 'Destroy', contestant, class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
            <% end %>
          </li>
      <% end %>
    </ul>
    <% if current_user.try(:admin?) %>
        <%= link_to 'New Contestant', new_contestant_path, class: "btn btn-default" %>
    <% end %>
  </div>
</section>