<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <div class="contestants-page-header">
    
  </div>

</div>

<div class="pre-contestants">

</div>
<ul class="contestant-list no-padding">
  <h3 class="page-header">Meet the Contestants </h3>
  <% @contestants.each do |contestant| %>
      <li>
        <%= link_to (contestant), data: { toggle: "modal", target: "#myModal-#{contestant.id}" } do %>
            <div class="contestant">
              <%= image_tag contestant.image.url(:thumb) %>
              <div class="contestant-list-text">
                <p class="name no-margin"><%= contestant.name  %></p>
                <p class="no-margin">(<%= contestant.nickname %>)</p>
              </div>
            </div>
        <% end %>
        <% if current_user.try(:admin?) %>
            <%= link_to 'Edit', edit_contestant_path(contestant), class: "btn btn-default" %>
            <%= link_to 'Destroy', contestant, class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        <%= render 'show', contestant: contestant %>
      </li>
  <% end %>
</ul>
<% if current_user.try(:admin?) %>
    <%= link_to 'New Contestant', new_contestant_path, class: "btn btn-default" %>
<% end %>
