<div id='the_modal' class="modal-content container">
  <div>
    <p id="notice"><%= notice %></p>
    <p>
      <strong>Name:</strong>
      <%= @contestant.name %>
    </p>

    <p>
      <strong>Bio:</strong>
      <%= @contestant.bio %>
    </p>

    <p>
      <strong>Nickname:</strong>
      <%= @contestant.nickname %>
    </p>

    <p class="text-center">
      <%= image_tag @contestant.image%><br><br>
    </p>

    <p>
      <i class="fa fa-heart"></i>
      <%= @contestant.votes.count %>
      Votes
    </p>



    <%= render 'vote' %>
    <% if current_user.try(:admin?) %>
        <%= link_to 'Edit', edit_contestant_path(@contestant) %> |
    <% end %>
    <%= link_to 'Back', contestants_path, class: "btn btn-default" %>
  </div>
</div>