<section>
<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @contestant.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @contestant.bio %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @contestant.nickname %>
</p>

<p>
  <%= image_tag @contestant.image%><br><br>
  <%= @contestant.image %>
</p>

<%= link_to 'Edit', edit_contestant_path(@contestant) %> |
<%= link_to 'Back', contestants_path %>
</section>