<%= form_for(@tv) do |f| %>
  <% if @tv.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tv.errors.count, "error") %> prohibited this tv from being saved:</h2>

      <ul>
      <% @tv.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.label :video %><br>
    <%= f.text_field :youtube_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
