<div class="timeline-header">
  <h1 id="timeline">Jam City Tv</h1>
</div>
<% @tvs.each do |tv| %>
    <p><%= tv.title %></p>
    <p><%= tv.youtube_id %></p>
    <% if current_user.try(:admin?) %>
        <p><%= link_to 'Edit', edit_tv_path(tv) %></p>
        <p><%= link_to 'Destroy', tv, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
<% end %>
<br>
<% if current_user.try(:admin?) %>
    <%= link_to 'New Tv', new_tv_path, class: "btn btn-default" %>
<% end %>