<div class="timeline-header">
  <h1 id="timeline">Jam City Tv</h1>
</div>
<ul class="text-center tv">
  <% @tvs.each do |tv| %>
      <li class="tv-list" id=<%= tv.to_param %>>
        <%= link_to (tv), data: { toggle: "modal", target: "#myModal-#{tv.id}" } do %>
            <div>
              <p><%= tv.title %></p>
            </div>
            <div>
              <%= image_tag("http://img.youtube.com/vi/#{tv.youtube_id}/mqdefault.jpg", width: "100%") %>
            </div>
        <% end %>
        <%= social_share_button_tag(tv.title,:url => request.original_url, via: "JamCityLive") %>
        <% if current_user.try(:admin?) %>

            <p><%= link_to 'Edit', edit_tv_path(tv), class: "btn btn-default" %>
              <%= link_to 'Destroy', tv, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></p>
        <% end %>
        <%= render 'show', tv: tv %>
      </li>
  <% end %>
</ul>
<br>
<% if current_user.try(:admin?) %>
    <%= link_to 'New Tv', new_tv_path, class: "btn btn-default" %>
<% end %>

<% content_for :share_js do %>
    <%= javascript_include_tag('social-share-button') %>
<%end%>