<!-- header -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
   <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("fest.gif") %>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <%= image_tag("blt.JPG") %>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <%= image_tag("eva_concert.JPG") %>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <%= image_tag("tintin.JPG") %>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <%= image_tag("festival.jpg") %>
      <div class="carousel-caption">
        ...
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control carousel-control-flex" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="fa fa-angle-left fa-flex-col-reverse" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control carousel-control-flex" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="fa fa-angle-right fa-flex-col-reverse" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>
<div class="container col-lg-12">
    <!-- Container for contestants -->
</div>
<div class="col-lg-11 content-container">

  <div class="my-row">
    <div class="news">
      <h3>Latest News</h3>
      <% @posts.each do |post| %>
      <div class="news-item">

        <img class="img-responsive img-square col-lg-4 no-padding" src="<%= post.image.url %>" >
            <%#= image_tag post.image.url(:medium), class: "latest-news img-responsive img-square col-lg-4 no-padding", size: "300*200" %>
        <div class="col-lg-7">
          <h4 class="no-margin"><%= post.title %></h4>
          <p><%= post.content.truncate(200) %></p>
          <%=link_to "Read more", post %>
          <br><br>
        </div>

      </div>
      <% end %>
      <!--<div class="news-item">-->
        <!--<img class="img-responsive img-square col-lg-4 no-padding" src="/assets/jam_city_aud.jpg" alt="" />-->
        <!--<div class="col-lg-7">-->
          <!--<h4 class="no-margin">THE Jam City Concert</h4>-->
          <!--<p>From the auditions to the rehearsals to the stage, Jam city showcased a variety of talents in categories including singing, arts, rap, dance and fashion runway which, was first of its kind. Kiki was the official anchor of the Jam City events anchored the concert alongside Peggy Henshaw.</p>-->
          <!--<a href="<%#= galleries_path %>" class="btn btn-info btn-sm">Pictures</a>-->
          <!--<a href="<%#= tvs_path %>" class="btn btn-info btn-sm">Videos</a>-->
        <!--</div>-->
        <!---->
      <!--</div>-->
      <!--<div class="news-item">-->
        <!--<img class="img-responsive img-square col-lg-4 no-padding" src="/assets/artitude2.jpg" alt="" />-->
        <!--<div class="col-lg-7">-->
          <!--<h4 class="no-margin">JAM CITY CYPHER #TheGame</h4>-->
          <!--<p> It’s all about to go down as we prepare to make history on the LCU Ibadan Stadium, 4pm this Thursday 30th April, 2015, as we give you the best of rap, art, dance and football. This is the third edition of the Jam City Cypher as a battle will emerge during the cypher to crown the lord rap of #JamCity. </p>-->
          <!--<a href="<%#= galleries_path %>" class="btn btn-info btn-sm">Pictures</a>-->
          <!--<a href="<%#= tvs_path %>" class="btn btn-info btn-sm">Videos</a>-->
        <!--</div>-->

      <!--</div>-->
    </div>
    <div class="videos">
      <h3>Videos</h3>
      <h4>Tales of Bollylomo</h4>
      <div class="video-container">

        <iframe width="auto" height="1200" src="https://www.youtube.com/embed/GXfL5T3yVXA?rel=0&amp;showinfo=0" controls="0" frameborder="0" allowfullscreen></iframe>
      </div>
        <!-- tweets -->
      <div class="twitter-container">
        <a class="twitter-timeline"
           href="https://twitter.com/JamCityLive"
           data-widget-id="569070230820122624"
           data-chrome="">
          Tweets by @JamCityLive
        </a>
        <script>
            ! function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0],
                        p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + "://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");
        </script>
      </div>
    </div>
  </div>
</div>
<div class="container col-sm-11 no-float">
  <div class="row">
    <div class="col-lg-7">
      <h2>Next Stop???</h2>
      <p>The Jam City train is currently at Lead City University Ibadan.  The students are awesome in their beautifully energetic style in depicting music and arts and that’s how we have come to realise they really know how to have fun. Jam City has currently hosted 5 events in the school and the turn out have been massive, with the students always in an anxious spirit and ready to show what they have through the Jam City platform.</p>
      <p>Jam City discovered a couple of talents in LCU and has given them a platform to showcase their talents. Oh yes, we have seen the good, bad, ugly, very ugly and the awesome!  Watch out for these guys!
      </p>
    </div>
    <div class="col-lg-5">
      <a href="#">
        <img class="jcl-img img-square img-responsive" src="/assets/jcl.gif" />
      </a>
    </div>
  </div>
</div>