<!-- header -->
<div id="carousel-top" class="carousel slide" data-ride="carousel">
   <ol class="carousel-indicators">
    <li data-target="#carousel-top" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-top" data-slide-to="1"></li>
    <li data-target="#carousel-top" data-slide-to="2"></li>
    <li data-target="#carousel-top" data-slide-to="3"></li>
     <li data-target="#carousel-top" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("jcl-festival2.jpg", class: "img--carousel") %>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <%= image_tag("blt.JPG", class: "img--carousel") %>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <%= image_tag("eva_concert.JPG", class: "img--carousel") %>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <%= image_tag("tintin.JPG", class: "img--carousel") %>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <%= image_tag("festival.jpg", class: "img--carousel") %>
      <div class="carousel-caption">
        ...
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control carousel-control-flex" href="#carousel-top" role="button" data-slide="prev">
    <span class="fa fa-angle-left fa-flex-col-reverse" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control carousel-control-flex" href="#carousel-top" role="button" data-slide="next">
    <span class="fa fa-angle-right fa-flex-col-reverse" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>
<div class="container col-lg-12">
    <!-- Container for contestants -->
</div>
<div class="col-lg-11 content-container">

  <div class="my-row">
    <div class="news">
      <h3>Latest News</h3>
      <% @posts.each do |post| %>
      <div class="news-item">
        <img class="img-responsive img-square col-lg-4 no-padding" src="<%= post.image.url %>" >
            <%#= image_tag post.image.url(:medium), class: "latest-news img-responsive img-square col-lg-4 no-padding", size: "300*200" %>
        <div class="col-lg-7">
          <h4 class="no-margin"><%= post.title %></h4>
          <p><%= post.content.truncate(200) %></p>
          <%=link_to "Read more", post %>
        </div>
      </div>
      <% end %>
      <br><br>
    </div>
    <div class="videos">
      <h3>Videos</h3>
      <h4>Tales of Bollylomo</h4>
      <div class="video-container padding-gee">

        <iframe width="auto" height="1200" src=<%= access %> controls="0" frameborder="0" allowfullscreen></iframe>
      </div>
        <!-- tweets -->
      <div class="twitter-container">
        <a class="twitter-timeline"
           href="https://twitter.com/JamCityLive"
           data-widget-id="569070230820122624"
           data-chrome="">
          Tweets by @JamCityLive
        </a>
        <script>
            ! function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0],
                        p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + "://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");
        </script>
      </div>
    </div>
  </div>
</div>
<br><br>
<div class="container col-sm-12 no-float">
  <div class="row">
    <div class="col-lg-7">
      <h2>Next Stop???</h2>
      <p>The Jam City train is currently at Lead City University Ibadan.  The students are awesome in their beautifully energetic style in depicting music and arts and that’s how we have come to realise they really know how to have fun. Jam City has currently hosted 7 events in the school and the turn out have been massive, with the students always in an anxious spirit and ready to show what they have through the Jam City platform.</p>
      <p>Jam City discovered a couple of talents in LCU and has given them a platform to showcase their talents. Oh yes, we have seen the good, bad, ugly, very ugly and the awesome!  Watch out for these guys!
      </p>
    </div>
    <div class="col-lg-5">
      <a href="#">
        <img class="jcl-img img-square img-responsive" src="/assets/jcl.gif" />
      </a>
    </div>
  </div>
</div>