<link rel="shortcut icon" type="image/ico" href="https://s3.amazonaws.com/mixture-mixed/1/11173/favicon.ico">
<link rel="stylesheet" type="text/css" href="./gallery/fonts.css">
<link href="./app.min.css" rel="stylesheet" type="text/css" media="all">

<div class="overflow">
  <ul class="portfolio-list">
  </ul>
</div>

<table>
  <thead>
  </thead>

  <tbody>
    <% @media.each do |medium| %>
      <tr>
        <td><%= medium.title %></td>
        <td><%= medium.description %></td>
        <td><%= medium.type %></td>
        <td><%= medium.media_url %></td>
        <td><%= link_to 'Show', medium %></td>
        <td><%= link_to 'Edit', edit_medium_path(medium) %></td>
        <td><%= link_to 'Destroy', medium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<% content_for :view_js do %>
<script type="text/javascript">
  console.log('script called');
url='https://graph.facebook.com/v2.2/1582643425303174/photos?access_token=721275387970991|3844b78076699dfc663ac8d1210b0431';
  var makeCall = function(){
    $.ajax(url).success(function(res){
      var imgListUL = $('.portfolio-list');
      console.log(res)
      for (var i = 0; i < res.data.length; i++) {

        var img = $('<img>').attr('src', res.data[i].images[1].source).attr('class', 'js-img').attr('height', '200px')
        var a = $('<a>').append(img);
        var div = $('<div class="excerpt">').html('<h3>View Image</h3>');
        a.append(div);
        var li = $('<li>').append(a);
        imgListUL.append(li);
        
      };
    });
  }
  $(document).ready(makeCall)
  
</script>
<%end%>