<link rel="shortcut icon" type="image/ico" href="https://s3.amazonaws.com/mixture-mixed/1/11173/favicon.ico">
<link rel="stylesheet" type="text/css" href="./gallery/fonts.css">
<link href="./app.min.css" rel="stylesheet" type="text/css" media="all">

<div class="overflow">
  <ul class="portfolio-list">
   <li>
  <a href="http://mikekus.com/portfolio/future-insights-2015">
    <img src="./gallery/thumb.jpg" class="js-img" style="opacity: 1;">
    <div class="excerpt">
      <h3>Future Insights 2015</h3>
      <p>I redesigned the Future Insights website for 2015. Future...</p>
    </div>
  </a>
</li><li>
  <a href="http://mikekus.com/portfolio/stamps">
    <img src="./gallery/thumb(1).jpg" class="js-img" style="opacity: 1;">
    <div class="excerpt">
      <h3>#IndyRef Stamps</h3>
      <p>To mark the occasion of the Scottish independance referen...</p>
    </div>
  </a>
</li><li>
  <a href="http://mikekus.com/portfolio/craftsmen">
    <img src="./gallery/thumb.png" class="js-img" style="opacity: 1;">
    <div class="excerpt">
      <h3>Craftsmen</h3>
      <p>I was asked by French Digital Agency, Craftsmen to design...</p>
    </div>
  </a>
</li><li>
  <a href="http://mikekus.com/portfolio/mixd">
    <img src="./gallery/thumb(2).jpg" class="js-img" style="opacity: 1;">
    <div class="excerpt">
      <h3>MIXD</h3>
      <p>I redesigned the identity and website for web agency, MIX...</p>
    </div>
  </a>
</li><li>
  <a href="http://mikekus.com/portfolio/future-insights">
    <img src="./gallery/thumb(3).jpg" class="js-img" style="opacity: 1;">
    <div class="excerpt">
      <h3>Future Insights</h3>
      <p>I redesigned the Future Insights website for 2013/14. Fut...</p>
    </div>
  </a>
</li><li>
  <a href="http://mikekus.com/portfolio/mixture">
    <img src="./gallery/thumb(4).png" class="js-img" style="opacity: 1;">
    <div class="excerpt">
      <h3>Mixture</h3>
      <p>As part of the Mixture team I designed the first version ...</p>
    </div>
  </a>
</li><li>
  <a href="http://mikekus.com/portfolio/shopify">
    <img src="./gallery/thumb(5).jpg" class="js-img" style="opacity: 1;">
    <div class="excerpt">
      <h3>At the heart of what we do</h3>
      <p>Shopify kindly ask me to design a shirt around the concep...</p>
    </div>
  </a>
</li><li>
  <a href="http://mikekus.com/portfolio/create-dm">
    <img src="./gallery/thumb(6).png" class="js-img" style="opacity: 1;">
    <div class="excerpt">
      <h3>Create DM</h3>
      <p>I designed the website for Tunbridge Wells based App deve...</p>
    </div>
  </a>
</li><li>
  <a href="http://mikekus.com/portfolio/smashing">
    <img src="./gallery/thumb(7).jpg" class="js-img" style="opacity: 1;">
    <div class="excerpt">
      <h3>Smashing Mobile Book</h3>
      <p>I was commissioned by Smashing Magazine to design the boo...</p>
    </div>
  </a>
</li><li>
  <a href="http://mikekus.com/portfolio/berocca">
    <img src="./gallery/thumb(8).jpg" class="js-img" style="opacity: 1;">
    <div class="excerpt">
      <h3>Berocca Posters</h3>
      <p>I was commissioned by The Campaign Palace &amp; Berocca t...</p>
    </div>
  </a>
</li><li>
  <a href="http://mikekus.com/portfolio/olympics">
    <img src="./gallery/thumb(9).jpg" class="js-img" style="opacity: 1;">
    <div class="excerpt">
      <h3>Olympics 2012</h3>
      <p>With the Olympics in town in 2012, I was compelled to pro...</p>
    </div>
  </a>
</li><li>
  <a href="http://mikekus.com/portfolio/giftrocket">
    <img src="./gallery/thumb(10).png" class="js-img" style="opacity: 1;">
    <div class="excerpt">
      <h3>GiftRocket</h3>
      <p>I designed the identity, web app and marketing website fo...</p>
    </div>
  </a>
</li><li>
  <a href="http://mikekus.com/portfolio/amazee">
    <img src="./gallery/thumb(11).jpg" class="js-img" style="opacity: 1;">
    <div class="excerpt">
      <h3>Amazee Labs</h3>
      <p>I designed the identity and website for Swiss based agenc...</p>
    </div>
  </a>
</li><li>
  <a href="http://mikekus.com/portfolio/chirp">
    <img src="./gallery/thumb(12).png" class="js-img" style="opacity: 1;">
    <div class="excerpt">
      <h3>Twitter Developer Conference</h3>
      <p>I created the identity and designed the website for Twitt...</p>
    </div>
  </a>
</li><li>
  <a href="http://mikekus.com/portfolio/microsoft">
    <img src="./gallery/thumb(13).jpg" class="js-img" style="opacity: 1;">
    <div class="excerpt">
      <h3>Microsoft Banners</h3>
      <p>I designed and illustrated these display banners for Micr...</p>
    </div>
  </a>
</li><li>
  <a href="http://mikekus.com/portfolio/twitter">
    <img src="./gallery/thumb(14).jpg" class="js-img" style="opacity: 1;">
    <div class="excerpt">
      <h3>Twitter Posters</h3>
      <p>As part of the Twitter developer conference, I designed t...</p>
    </div>
  </a>
</li><li>
  <a href="http://mikekus.com/portfolio/graphic-design">
    <img src="./gallery/thumb(15).jpg" class="js-img" style="opacity: 1;">
    <div class="excerpt">
      <h3>Graphic Design</h3>
      <p>As part of a conference talk I gave, entitled Graphic Des...</p>
    </div>
  </a>
</li><li>
  <a href="http://mikekus.com/portfolio/carsonified">
    <img src="./gallery/thumb(16).png" class="js-img" style="opacity: 1;">
    <div class="excerpt">
      <h3>Carsonified</h3>
      <p>Whilst at Carsonified, I redesigned the company website. ...</p>
    </div>
  </a>
</li><li>
  <a href="http://mikekus.com/portfolio/in-everyone">
    <img src="./gallery/thumb(17).jpg" class="js-img" style="opacity: 1;">
    <div class="excerpt">
      <h3>In Everyone Album Art</h3>
      <p>I designed and illustrated the album artwork for Oli Hite...</p>
    </div>
  </a>
</li>
  </ul>
</div>

<table>
  <thead>
  </thead>

  <tbody>
    <% @media.each do |medium| %>
      <tr>
        <td><%= medium.title %></td>
        <td><%= medium.description %></td>
        <td><%= medium.type %></td>
        <td><%= medium.media_url %></td>
        <td><%= link_to 'Show', medium %></td>
        <td><%= link_to 'Edit', edit_medium_path(medium) %></td>
        <td><%= link_to 'Destroy', medium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medium', new_medium_path %>
