<div class="timeline-header">
  <h1 id="timeline">'Sup Jam City?</h1>
</div>
<div class="jumbotron">
  <% @posts.each do |post| %>
      <div class="container-fluid">
      <div class="row media">
        <div class="media-left">
          <a href="#">
            <img class="media-object img-responsive col-sm-3" src="<%= post.image.url %>" >
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= post.title %></h4>
          <p><%= post.content.truncate(300) %></p>
          <%= link_to 'Read more', post %>
          <br>
        </div>
      </div>
      </div>
      <br><br>
      <% if current_user.try(:admin?) %>
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Destroy', post, method: :delete, data: {confirm: 'Are you sure?'} %>

      <% end %>
  <% end %>
</div>

<div class="overflow"></div>
<% if current_user.try(:admin?) %>
    <%= link_to 'New Post', new_post_path %>
<% end %>

<% content_for :share_js do %>
    <%= javascript_include_tag('social-share-button') %>
<%end%>


