<div class="timeline-header">
  <h1 id="timeline">'Sup Jam City?</h1>
</div>
<div class="col-lg-11 content-container">
  <h2>
    <%= @post.title %>
  </h2><hr>
  <br>
  <p>
    <%= @post.content %>
  </p>

  <p>
    <img class="img-responsive" src="<%= @post.image.url %>" />
  </p>
    Share via: <%= social_share_button_tag(@post.title, :via => "JamCityLive") %>
  <% if current_user.try(:admin?) %>
     <div class="pull-right">
        <%= link_to 'Edit', edit_post_path(@post) %> |
        <%= link_to 'Back', posts_path %>
    </div>
  <% end %>

  <% if !@post.comments.empty? %>
    <strong>Comments</strong>
    <% @post.comments.each do |comment| %>
      <div>
        <p>
          <%= comment.content %>
        </p>
        <em>
          <%= time_ago_in_words(comment.created_at) %>
          ago by
          <%= comment.user %>
        </em>
        <% if current_user.try(:admin?) %>
            <%= link_to 'Destroy',[@post, comment], method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
      </div><br>
    <% end %>
  <% end %>

  <% if !current_user.present? %>
      <p><%= link_to "login to comment", user_omniauth_authorize_path(:facebook) %></p>
  <% else %>
      <% if flash[:danger] %>
          <div class="notice"><%= flash[:danger] %></div>
      <% end %>
  <%= form_for [@post, Comment.new] do |f| %>
    <p>
      <%= f.label :content, "Add a comment" %>
    </p>
      <br>
      <p>
        <%= f.text_area :content %>
      </p>
      <br>
      <p>
        <%= f.submit "Post Comment" %>
      </p>
  <% end %>
  <% end %>
</div>

<% content_for :share_js do %>
    <%= javascript_include_tag('social-share-button') %>
<%end%>

<%= link_to 'Back to Sup Jam City?', posts_path %>

<!--<%# if !@post.comments.empty? %>-->
<!--<h2>Comments</h2>-->
<!--<%# @post.comments.each do |comment| %>-->
<!--<div id="comments">-->
<!--<%#= comment.content %>-->
<%#= time_ago_in_words(comment.created_at) %>
<!--</div>-->
<!--<%# end %>-->
<!--<%# end %>-->


<!--<%# if flash[:notice] %>-->
<!--<div class="notice"><%#= flash[:notice] %></div>-->
<!--<%# end %>-->
<!--<%#= form_for [@post, Comment.new], :remote => true do |f| %>-->
<!--<p>-->
<%#= f.label :content, "Add comment" %>
<!--<br/>
        <!--<%#= f.text_area :content %>-->
<!--</p>-->
<!--<p><%#= f.submit "Add comment" %></p>-->
<!--<%# end %>-->

<!--<p id="comment">-->
  <!--<strong>Comment:</strong>-->
  <!--<#3%= render :partial => @post.comment %>-->
<!--</p>-->


