<div class="cover-img">

  <div class="container-fluid">
    <div class="content">
      <h4>
        Count Down to Jam City Festival of Music and Culture, 2015
      </h4>
        <h1 id="countdown-holder"></h1>
      <h4>
        Date:
      </h4>
      <h4>
       Nov 13th - 15th, 2015
      </h4>
      <h4>
        Venue:
      </h4>
      <h4>
        Lead City University, Ibadan.
      </h4>
    </div>
    <div class="arrow bounce">

    </div>

  </div>
</div>

<div id="carousel-top" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-top" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-top" data-slide-to="1"></li>
    <li data-target="#carousel-top" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" id="nomargin">
    <div class="item active">
      <%= image_tag("fest1.jpg", class: "slider-img", width: "100%") %>
      <div class="carousel-caption caption-bg">
        <h1>Jam City Festival</h1>
        <h4 class="mobile">Jam City Festival</h4>
        <p>The Festival will go on for 3 days (Fri. - Sun.), during summer consisting of various simultaneous activities going on for several days where selected participants from the various schools the Jam City Programme has visited, will be

          sharing the same stage with professionals.</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag("fest2.jpg", class: "slider-img", width: "100%") %>
      <div class="carousel-caption caption-bg">
        <h1>Participant Category</h1>
        <h4 class="mobile">Music & Art</h4>
        <p>Musical (Vocal performers, Instrumentalists, etc.), Fine Art/Craft (Abstract, Graffiti, Hand Craft, Sculpture, etc.), Dance (Traditional, Popular, etc.), Fashion Designing (Clothing, Accessories, Designing, etc.),Performance (Presenting, Event hosting, etc.)</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag("fest3.jpg", class: "slider-img", width: "100%") %>
      <div class="carousel-caption caption-bg">
        <h1>Festival Features</h1>
        <h4 class="mobile">Live Performances</h4>
        <p>Concerts at the venue throughout the weekend. (Live Bands Only), Indoor activities & Outdoor activities, Trade Fair for product showcase. Limited Camping at the venue, activities are based on a time table.</p>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#carousel-top" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-top" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div><br><br>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag("head1.jpg", :class => "img-circle img-responsive center-block", size: "140")%>
      <h2 class="text-center">Exhibitions</h2>
      <p class="text-center"></p>
    </div>

    <div class="col-lg-4">
      <%= image_tag("head2.jpg", :class => "img-circle img-responsive center-block", size: "140")%>
      <h2 class="text-center">Trade Fair</h2>
      <p class="text-center"></p>
    </div>

    <div class="col-lg-4">
      <%= image_tag("head3.jpg", :class => "img-circle img-responsive center-block", size: "140")%>
      <h2 class="text-center">Concerts </h2>
      <p class="text-center"></p>
    </div>
  </div>
</div>
<br><br>
<div class="container-fluid gen-info">
  <div style="background-color: #00c6e3">
    <h2 class="text-center">General Info</h2>
  </div>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h4>Vibe</h4>
      <ul>
        <li>
          The Jam City Festival experience provides a perfect blend of fun that has never been

          experienced anywhere in the world before. We let our audience have control over

          their choice of fun, by giving them varieties.
        </li>
        <li>
          Different genres of music like Urban Pop, Afro Beat, Hip Hop, Fuji, Ghetto, Jazz,

          Traditional, EDM, Rock and other forms of music from different parts of the world,

          will be showcased.
        </li>
        <li>
          Fun activities buzzing throughout the weekend, take a break from school/work/life,

          and spend time with friends, loved ones and meet new people.
        </li>
      </ul>

    </div>
    <div class="col-lg-6">
      <a href="#" class="thumbnail">
        <img class="img-square img-responsive" src="/assets/vibes.jpg" alt="" />
      </a>
    </div>
  </div>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <a href="#" class="thumbnail">
        <img class="img-square img-responsive" src="/assets/fishbbq.jpg" alt="" />
      </a>
    </div>
    <div class="col-lg-6">
      <h4>Feeding</h4>
      <ul>
        <li>There will be various cafeterias and food vendors around specified areas on the camp

          site.</li>
        <li>Food vendors will be strictly inspected and officially licensed before operating on the

          festival site.</li>
      </ul>

      <!--<a class="btn btn-default btn-lg" href="#">View details &raquo;</a>-->
    </div>
  </div>
</div><br>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h4>Security & Parking</h4>
      <ul>
        <li>Check-in points at entrance with security scanners and detectors</li>
        <li>CCTV cameras for safety monitoring.</li>
        <li>Security operatives with watch dogs.</li>
        <li>No breakable bottles on camp. Only disposables and plastics.</li>
      </ul>
      <!--<a class="btn btn-default btn-lg" href="#">View details &raquo;</a>-->
    </div>
    <div class="col-lg-6">
      <a href="#" class="thumbnail">
        <img class="img-square img-responsive" src="/assets/car-park700.jpg" alt="" />
      </a>
    </div>
  </div>
</div><br>
</div>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-left">The Lead City Jam City Festival of Music and Culture, 2015</h2>
      <p class="text-left">Jam City in collaboration with Lead City University is hosting the first edition of The Lead City Jam City

        Festival of Music and Culture. Jam City has been creating platforms for young people in various

        academic institutions (Lead City University, University of Ibadan+ to showcase whatever talents they

        have encouraging them to pursue their dreams.

        The festival will run for 3 days, Friday - Sunday, November 13th – 15th, 2015, and it promises to be a fun

        weekend with simultaneous activities lined up; Concerts, Funfair, Fashion Show, Parties, Fireworks,

        Bonfire, Video Gaming, Theatre Plays, Cultural Displays, #JamCityCypher, #JamCityPlayoffs Finals (Team

        ManUtd Vs. Team Real Madrid), Seminars, Workshops, Trade Fair, Photo Booths and many more

        activities.

        The Concerts, which will come up every night during the festival, have headlining acts like Saeon, Eva

        Alordiah, Koker, Boogie, PhaseHop, Loose Kaynon, Milli, Aramide, Pryse, Drizzle Crew, Toby Grey, Ziz, Sir

        Dauda, Kaenzo, Posly TD, Bollylomo, 9jArtitude (Speed Art) and Jam City’s upcoming acts in Lead City

        like Queen, Drillz, Shabba Dope, Charlie, Faym, Nathan Jayzz, Psych and many more.

        So get your shoes, and get ready for the freakiest weekend at The Lead City Jam City Festival of Music

        and Culture, 2015.

        For more info on the lineups and timetable of events, follow @jamcitylive on <a href="https://twitter.com/JamCityLive">Twitter</a> and <a href="https://instagram.com/jamcitylive">IG</a>, or visit our

        website on <a href="#">www.jamcitylive.com.</a>
    </div>

    <div class="col-md-6">
      <%= image_tag("head3.jpg", :class => "img-square img-responsive center-block", size: "400")%>
    </div>
  </div>
</div><br><br>
<div class="container">
  Share via: <%= social_share_button_tag("#LCUJamCityFest15", via: "JamCityLive" ) %>
</div>

<!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1512.255333044397!2d-74.01038531004586!3d40.70677344629345!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a165bedccab%3A0x2cb2ddf003b5ae01!2sWall+St!5e0!3m2!1sen!2s!4v1402034792337" width="100%" height="400" frameborder="0" style="border:0"></iframe>-->


<% content_for :festival_js do %>
    <%= javascript_include_tag( 'countdown') %>
    <%= javascript_include_tag( 'festival') %>
<%end%>

<% content_for :share_js do %>
    <%= javascript_include_tag('social-share-button') %>
<%end%>