<div class="cover-img">
  <div class="container-fluid">
    <div class="content">
      <h4>
        Count Down to Jam City Festival of Music and Culture, 2015
      </h4>
      <h1 id="countdown-holder"></h1>
      <h4>
        Date:
      </h4>
      <h4>
        August 28th - 30th, 2015.
      </h4>
      <h4>
        Venue:
      </h4>
      <h4>
        Lead City University, Ibadan.
      </h4>
    </div>

  </div>

</div>
<div id="carousel-top" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-top" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-top" data-slide-to="1"></li>
    <li data-target="#carousel-top" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" id="nomargin">
    <div class="item active">
      <%= image_tag("fest1.jpg", class: "slider-img", width: "100%") %>
      <div class="carousel-caption caption-bg">
        <h1>Summer Festival & Camp</h1>
        <h4 class="mobile">Summer Festival & Camp</h4>
        <p>The Festival will go on for 3 days (Fri. - Sun.), during summer consisting of various simultaneous activities going on for several days where selected participants from the various schools the Jam City Programme has visited, will be

          sharing the same stage with professionals.</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag("fest2.jpg", class: "slider-img", width: "100%") %>
      <div class="carousel-caption caption-bg">
        <h1>Participant Category</h1>
        <h4 class="mobile">Music & Art</h4>
        <p>Musical (Vocal performers, Instrumentalists, etc.), Fine Art/Craft (Abstract, Graffiti, Hand Craft, Sculpture, etc.), Dance (Traditional, Popular, etc.), Fashion Designing (Clothing, Accessories, Designing, etc.),Performance (Presenting, Event hosting, etc.)</p>
      </div>
    </div>

    <div class="item">
      <%= image_tag("fest3.jpg", class: "slider-img", width: "100%") %>
      <div class="carousel-caption caption-bg">
        <h1>Festival Features</h1>
        <h4 class="mobile">Live Performances</h4>
        <p>Concerts at the venue throughout the weekend. (Live Bands Only), Indoor activities & Outdoor activities, Trade Fair for product showcase. Limited Camping at the venue, activities are based on a time table.</p>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#carousel-top" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-top" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div><br><br>
<div class="container">
  <div class="row">
    <!--<h2 class="text-center">Also Featuring</h2>-->
    <div class="col-lg-4">
      <%= image_tag("head1.jpg", :class => "img-circle img-responsive center-block", size: "140")%>
      <!--<img class="img-circle img-responsive center-block" alt="140x140" src="http://lorempixel.com/140/140/nature" />-->
      <h2 class="text-center">Exhibitions</h2>
      <p class="text-center"></p>
    </div>

    <div class="col-lg-4">
      <%= image_tag("head2.jpg", :class => "img-circle img-responsive center-block", size: "140")%>
      <h2 class="text-center">Trade Fair</h2>
      <p class="text-center"></p>
    </div>

    <div class="col-lg-4">
      <%= image_tag("head3.jpg", :class => "img-circle img-responsive center-block", size: "140")%>
      <h2 class="text-center">Concerts </h2>
      <p class="text-center"></p>
    </div>
  </div>
</div><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-left">The Lead City Jam City Festival of Music and Culture, 2015</h2>
      <p class="text-left">Jam City Entertainment Services, in collaboration with Lead City University Ibadan, are planning a 3 day camping festival of music and culture, to happen this August.
        This will feature a wide range of simultaneous fun activities throughout the four days inside Lead City University. The facility is secured and safe and will be the host of Nigeria’s first urban festival.
        Some of the activities that will go on for the four days include; Concerts, Arts exhibitions, Games and Leisure, Trade Fair, Fashion shows, I.T Convention, Carnivals, Parties, Seminars, Workshops, Training programs, Performance arts, Art installations, Fine Art, Traditional Exhibitions, Food fairs, Sports, Aerobics, Fitness programmes and lots more.</p>
      <!--<p class="text-left">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>-->
      <p class="text-left">Information about registration and participation will be made available on this site soon. You can email <a href="mailto:jamcitylive@gmail.com" target="_blank">jamcitylive@gmail.com</a> for other enquires.</p>
    </div>

    <div class="col-md-6">
      <%= image_tag("head3.jpg", :class => "img-square img-responsive center-block", size: "400")%>
    </div>
  </div>
</div><br><br>
<div class="container">
  Share via: <%= social_share_button_tag("#LCUJamCityFest15", via: "JamCityLive" ) %>
</div>

<!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1512.255333044397!2d-74.01038531004586!3d40.70677344629345!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a165bedccab%3A0x2cb2ddf003b5ae01!2sWall+St!5e0!3m2!1sen!2s!4v1402034792337" width="100%" height="400" frameborder="0" style="border:0"></iframe>-->


<% content_for :festival_js do %>
    <%= javascript_include_tag( 'countdown') %>
    <%= javascript_include_tag( 'festival') %>
<%end%>

<% content_for :share_js do %>
    <%= javascript_include_tag('social-share-button') %>
<%end%>