<!-- header -->
<div class="timeline-header">
  <h1 id="timeline">Jam City Gallery</h1>
</div>
<div class="container-fluid gallery-list">
  <h2>Jam City Events</h2><hr>
  <ul class="list-group">
    <% @galleries.each do |gallery| %>
        <li class="gallery-list-item">
          <a class="img-link" href="">
            <p><%= link_to gallery.title, gallery %></p>
          </a>
        </li>
        <% if current_user.try(:admin?) %>
            <%= link_to 'Edit', edit_gallery_path(gallery) %>
            <%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    <% end %>
  </ul>
</div>

<div class="overflow"></div>
<% if current_user.try(:admin?) %>

    <%= link_to 'New Gallery', new_gallery_path %>
<% end %>


<% content_for :view_js do %>
    <%= javascript_include_tag( 'galleries') %>
<%end%>
