
<!-- header -->
<div class="timeline-header">
  <h1 id="timeline">Jam City Gallery</h1>
</div>
<div class="container-fluid gallery-list">
  <div class="title"><h2><%= @gallery.title %></h2></div>
  <ul class="gallery-thumbnail-wrapper">
    <% @gallery.photos.each do |photo| %>
        <li>
          <a class="img-link" href="">
            <img class="img-responsive img-square col-lg-2 no-padding" src="<%= photo.image.url %>" alt="" />
          </a>
        </li>
        <% if current_user.try(:admin?) %>
            <%= link_to 'Edit', edit_photo_path(photo) %>
            <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    <% end %>
  </ul>
  Share via: <%= social_share_button_tag(@gallery.title, :via => "JamCityLive") %>
</div>

<div class="overflow"></div>
<% if current_user.try(:admin?) %>

    <%= link_to 'New Gallery', new_gallery_path %>
<% end %>

<%= link_to 'Back', galleries_path %>

<% content_for :view_js do %>
    <%= javascript_include_tag( 'galleries') %>
<%end%>
<% content_for :share_js do %>
    <%= javascript_include_tag('social-share-button') %>
<%end%>

