<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @gallery.title %>
</p>

<p>
  <% @photos.each do |p| %>
      <%= image_tag p.image_url %>
      <%= link_to "Edit Image", edit_photo_path(p) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
