<!DOCTYPE html>
<!-- header -->
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JamCityLive</title>
  <%=stylesheet_link_tag( 'application', media: 'all', 'data-turbolinks-track'=> true )%>
  <%=csrf_meta_tags %>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%=yield :view_css%>
</head>

<body id="home-page">
  <!-- NAVBAR -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "#{image_tag("jcl-logo.png", class: "img-responsive", size: "150x120")}".html_safe, root_path, class: "logo" %>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Participants", contestants_path %></li>
          <li><%= link_to "Events", events_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li>
            <% if user_signed_in? %>
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" data-target="dropdown-menu" role="button" aria-expanded="false" class="dropdown-toggle">
                  <%= image_tag current_user.image, class: "profile-img" %>
                  <%= current_user.name %>
                  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
          <% else %>
              <li>
                <%= button_to "Connect with Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-primary btn-connect" %>
              </li>
          <% end %>
          </li>
        </ul>
        <!--  <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form> -->
      </div>
    </div>
  </nav>
  <!-- header end -->

  <!-- body content -->
  <%=yield %>
  <footer>
    <div class="container text-center">
      <h4 class="quote">“Think of yourself as a brand. You need to be remembered. What will they remember you for? What defines you? If you have it in you, do something that defines you. Invent something, develop a unique skill, get noticed for something — it creates a talking point.”
        ― Chris Arnold</h4>
      <div class="copy">
        <p class="text-center">
          <%= link_to image_tag("social/Facebook.png"), "https://www.facebook.com/pages/Jam-City-Live/1574478196119697", target: "_blank" %>
          <%= link_to image_tag("social/Twitter.png"), "https://twitter.com/JamCityLive", target: "_blank" %>
          <%= link_to image_tag( "social/google_plus.png"), "https://www.youtube.com/channel/UCNWYAh5RGEMEUWylkwS2bmQ", target: "_blank" %>
          <%= link_to image_tag("social/YouTube.png"), "https://www.youtube.com/channel/UCNWYAh5RGEMEUWylkwS2bmQ", target: "_blank" %>
        </p>
        <div>
          <em>©copyright Samurais 2015 all rights reserved</em>
        </div>
      </div>
    </div>
  </footer>
  <%= javascript_include_tag( 'application') %>  
</body>

</html>
<!-- footer end -->
